---
layout: archive
title: "News"
permalink: /news/
header:
  overlay_image: /assets/images/banners/neutronstar.jpg
  overlay_filter: 0.3
---

<div class="main-content" style="text-align: justify;">
  <p> News from the group will be published here as soon as available. For older updates, have a look
    at our <a href="https://aliga.ice.csic.es/erc-magnesia/category/news/">old website News page</a>!</p>
</div>

{% assign new_posts = site.posts | where: "categories", "news" %}
{% for post in new_posts %}
  {% include archive-single.html %}
{% endfor %}

<!-- {% include figure
   image_path="/assets/images/websiteinconstruction.jpg"
   alt="Research image"
   class="align-center"
%} -->