---
title: "Outreach"
permalink: /outreach/
layout: archive
header:
  overlay_image: /assets/images/banners/casa_xray.jpg
  overlay_filter: 0.3
---

<div class="main-content" style="text-align: justify;">
  <p> Outreach events and publications from the group will be published here as soon as available. 
    In the meantime, have a look at our <a href="https://aliga.ice.csic.es/erc-magnesia/category/outreach/">
    old website Outreach page</a>!</p>
</div>

{% assign new_posts = site.posts | where: "categories", "outreach" %}
{% for post in new_posts %}
  {% include archive-single.html %}
{% endfor %}

<!-- {% include figure
   image_path="/assets/images/websiteinconstruction.jpg"
   alt="Research image"
   class="align-center"
%} -->