---
layout: single
title: "Alessio Marino"
position: "Post-doctoral Researcher"
status: "current"
image: /assets/images/people/Alessio_Marino.jpg
permalink: /members/alessio_marino/
hide_prev_next: true

orcid: "https://orcid.org/0000-0001-5674-4664"
linkedin:
ads: "https://ui.adsabs.harvard.edu/search/q=orcid%3A0000-0001-5674-4664"
github:
website:
---

<div class="member-profile">
  <div class="member-photo">
    <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
  </div>

  <div class="member-info">
    <p><i class="fas fa-user"></i> {{ page.position }}</p>

    <div class="member-links">
      {% if page.orcid %}
        <a href="{{ page.orcid }}" target="_blank" title="ORCID"><i class="fab fa-orcid"></i></a>
      {% endif %}
      {% if page.ads %}
        <a href="{{ page.ads }}" target="_blank" title="NASA ADS"><i class="fas fa-book"></i></a>
      {% endif %}
      {% if page.github %}
        <a href="{{ page.github }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
      {% endif %}
      {% if page.website %}
        <a href="{{ page.website }}" target="_blank" title="Website"><i class="fas fa-globe"></i></a>
      {% endif %}
    </div>
  </div>
</div>

<hr>

<div class="main-content" style="text-align: justify;">
<h2>Education</h2>
<ul>
  <li><strong>2017 &#8211; 2021:</strong> PhD in Physical Sciences (Cycle XXXIII), Università degli 
    studi di Palermo, in a "co-tutelle" (joint program) with Université Toulouse III &#8211; Paul Sabatier.<br>
    <em>Imperfect accretion: ejecting matter in X-ray binaries</em><br>
    Supervisors: Prof. T. Di Salvo, Dr. J. Malzac</li>
  <li><strong>2016 &#8211; 2017:</strong> M. Sc. Physics, Università degli studi di Palermo<br>
  <em>Spectral constraints on Neutron Stars radii</em><br>Supervisors: Prof. T. Di Salvo, Dr. N. Degenaar (API Amsterdam)</li>
  <li><strong>2012 &#8211; 2015:</strong> Bachelor degree in Physical Sciences, Università degli Studi di Palermo</li>
</ul>

<h2>Research</h2>
<ul>
  <li><strong>March 2022 &#8211; present:</strong> Postdoctoral research fellow, Institute of Space Sciences, Barcelona</li>
  <li><strong>June 2021 &#8211; February 2022:</strong> Postdoctoral research fellow, Università degli studi di Palermo</li>
</ul>

</div>
