---
layout: single
title: "Maria Edvige Ravasio"
position: "Post-doctoral Researcher / <br> La Caixa Fellow"
status: "current"
image: /assets/images/people/maria_ravasio.jpg
permalink: /members/maria_edvige_ravasio/
hide_prev_next: true
last_modified_at: 2026-03-20

orcid: "https://orcid.org/0000-0003-3193-4714"
linkedin:
ads: "https://ui.adsabs.harvard.edu/search/q=orcid%3A0000-0003-3193-4714"
github:
website:
---

<div class="member-profile">
  <div class="member-photo">
    <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
  </div>

  <div class="member-info">
    <p><i class="fas fa-user"></i> {{ page.position }}</p>

    <div class="member-links">
      {% if page.orcid %}
        <a href="{{ page.orcid }}" target="_blank" title="ORCID"><i class="fab fa-orcid"></i></a>
      {% endif %}
      {% if page.ads %}
        <a href="{{ page.ads }}" target="_blank" title="NASA ADS"><i class="fas fa-book"></i></a>
      {% endif %}
      {% if page.github %}
        <a href="{{ page.github }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
      {% endif %}
      {% if page.website %}
        <a href="{{ page.website }}" target="_blank" title="Website"><i class="fas fa-globe"></i></a>
      {% endif %}
    </div>
  </div>
</div>

<hr>

<div class="main-content" style="text-align: justify;">
<h2>Education</h2>
<ul>
  <li><strong>2018 &#8211; 2022:</strong> PhD in Astrophysics with honours &#8211; University of Milano-Bicocca 
    / INAF- Astronomical Observatory of Brera-Merate.</li>
  <li><strong>2015 &#8211; 2018:</strong> Master's degree in Astrophysics and Space Physics &#8211; 
    University of Milano-Bicocca, Milan.</li>
  <li><strong>2011 &#8211; 2015:</strong> Bachelor's degree in Physics &#8211; University of Milano-Bicocca, Milan.</li>
</ul>

<h2>Research</h2>
<ul>
  <li><strong>December 2025 &#8211; Present:</strong> Junior Leader Fellow &#8211; "La Caixa" Foundation (
    3-year fellowship, €320,000)<br>
  Host Institute: ICE/CSIC &#8211; Institut de Ciències de l'Espai, Barcelona, Spain<br>
  Topic: <em>Beyond the tip of the iceberg: uncovering the physics of jets via GRB prompt X-ray emission</em>
 </li>
  <li><strong>February 2022 &#8211; December 2025:</strong> Post-doctoral Researcher &#8211; Radboud University, Nijmegen, Netherlands<br>
  ERC-funded project 'Starstruck' on Fast X-ray Transients, awarded to Prof. Peter Jonker</li>
  <li><strong>May 2018 &#8211; July 2018:</strong> Visiting Research Fellowship &#8211; Center for Astrophysics 
    and Supercomputing (CAS), Swinburne University, Melbourne, Australia<br>
  Supervisor: Prof. Jeff Cooke. Contribution to the Deeper Wider Faster project</li>
</ul>

<h2>Supervision</h2>
<ul>
  <li><strong>September 2025 &#8211; Present:</strong> Supervision of Eduardo Gonzales Ramos (Radboud University), 
    Master student &#8211; main supervisor (in collaboration with Prof. Peter Jonker)</li>
  <li><strong>February 2025 &#8211; August 2025:</strong> Supervision of Ansh Chopra (GSSI), PhD student &#8211; 
    Doctoral Exchange period of 6 months funded by PNRR (in collaboration with Prof. Marica Branchesi, Dr. Biswajit Banerjee)</li>
  <li><strong>September 2022 &#8211; September 2023:</strong> Supervision of Hannah Wichern (Radboud University), 
    Master student &#8211; main supervisor (in collaboration with Prof. Peter Jonker)<br>
    Paper from thesis: "Investigating the off-axis GRB afterglow scenario for extragalactic fast X-ray transients" 
    &#8211; Wichern H. C. I., Ravasio M. E., Jonker P. G. et al., 2024, A&A <br>
    Winner of the Thesis Prize for Astronomy 2023 of KHMW (Royal Dutch Society of Sciences). Now PhD student at DTU, Copenhagen.
  </li>
</ul>

<h2>Awards</h2>
<ul>
  <li><strong>2025:</strong> Junior Leader Fellow &#8211; "La Caixa" Foundation (3-year fellowship, €320,000)</li>
  <li><strong>2025:</strong> ESA Research Fellowship (declined in favour of the La Caixa fellowship)</li>
  <li><strong>2022:</strong> Premio Tacchini &#8211; prize for the best PhD thesis in Astrophysics, 
    awarded by the Italian Astronomical Society (SAIt)</li>
  <li><strong>2018:</strong> Visiting Research Fellowship &#8211; Center for Astrophysics and Supercomputing 
    (CAS), Swinburne University, Melbourne, Australia</li>
</ul>

<h2>International Collaborations</h2>
<ul>
  <li>Einstein Probe Collaboration</li>
  <li>ENGRAVE and GRAWITA &#8211; European and Italian collaborations focused on the search for counterparts to gravitational waves</li>
  <li>THESEUS Consortium</li>
  <li>COSI Science Team &#8211; GRB working group</li>
  <li>NewAthena WG5 &#8211; Transients and multi-messenger astrophysics working group</li>
  <li>X-ray Transient Array (XTRA)</li>
  <li>Einstein Telescope</li>
</ul>

<h2>Teaching Experience</h2>
<ul>
  <li>Oct 2025: Lecture on "Relativistic Jets from Black Holes" &#8211; Course on "Black Holes and 
    Accretion" at Radboud University (in collaboration with Prof. Peter Jonker and Prof. Monika Moscibrodzka)</li>
</ul>

</div>