---
layout: single
title: "Matteo Imbrogno"
position: "Post-doctoral Researcher"
status: "current"
image: /assets/images/people/matteo.jpg
permalink: /members/matteo_imbrogno/
hide_prev_next: true

orcid: "https://orcid.org/0000-0001-8688-9784"
linkedin:
ads: "https://ui.adsabs.harvard.edu/search/q=orcid%3A0000-0001-8688-9784"
github: "https://github.com/MattImbr"
website:
---

<div class="member-profile">
  <div class="member-photo">
    <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
  </div>

  <div class="member-info">
    <p><i class="fas fa-user"></i> {{ page.position }}</p>

    <div class="member-links">
      {% if page.orcid %}
        <a href="{{ page.orcid }}" target="_blank" title="ORCID"><i class="fab fa-orcid"></i></a>
      {% endif %}
      {% if page.ads %}
        <a href="{{ page.ads }}" target="_blank" title="NASA ADS"><i class="fas fa-book"></i></a>
      {% endif %}
      {% if page.github %}
        <a href="{{ page.github }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
      {% endif %}
      {% if page.website %}
        <a href="{{ page.website }}" target="_blank" title="Website"><i class="fas fa-globe"></i></a>
      {% endif %}
    </div>
  </div>
</div>

<hr>

<div class="main-content" style="text-align: justify;">
<h2>Education</h2>
<ul>
  <li><strong>2021 &#8211; 2024:</strong> PhD in Astronomy, Astrophysics and Space Science (Cycle XXXVIII),
  Università degli Studi di Roma "Tor Vergata"<br>
  <em>A tale of serendipity: Quasi-periodic oscillations in pulsating ultraluminous 
  X-ray sources and a search for new candidate X-ray pulsators</em><br>
  Supervisors: Prof. Gian Luca Israel, Prof. Francesco Tombesi</li>
  <li><strong>2018 &#8211; 2020:</strong> Master's degree in Astronomy and Astrophysics, Università degli Studi
  di Roma "La Sapienza"<br>
  <em>Search for X-ray periodic sources in XMM-Newton observations through accelerated search techniques</em><br>
  Supervisors: Prof. Luigi Stella, Prof. Gian Luca Israel<br>
  Co-supervisor: Dr. Guillermo Andres Rodríguez Castillo</li>
  <li><strong>2015 &#8211; 2018:</strong> Bachelor's degree in Physics, Università degli Studi di Roma 
  "La Sapienza"<br>
  <em>The inflationary paradigm in the standard cosmological model</em><br>
  Supervisor: Prof. Luca Lamagna</li>
</ul>

<h2>Research</h2>
<ul>
  <li><strong>2025 &#8211; present:</strong> Post-doctoral researcher at Institute of Space Sciences (ICE&#8211;CSIC), Barcelona</li>
</ul>

</div>
