---
layout: single
title: "Nanda Rea"
position: "CSIC Staff Scientist (Project PI)"
status: "current"
image: /assets/images/people/nanda.jpg
permalink: /members/nanda_rea/
hide_prev_next: true

orcid: "https://orcid.org/0000-0003-2177-6388"
linkedin:
ads: "https://ui.adsabs.harvard.edu/search/q=orcid%3A0000-0003-2177-6388"
github:
website:
---

<div class="member-profile">
  <div class="member-photo">
    <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
  </div>

  <div class="member-info">
    <p><i class="fas fa-user"></i> {{ page.position }}</p>

    <div class="member-links">
      {% if page.orcid %}
        <a href="{{ page.orcid }}" target="_blank" title="ORCID"><i class="fab fa-orcid"></i></a>
      {% endif %}
      {% if page.ads %}
        <a href="{{ page.ads }}" target="_blank" title="NASA ADS"><i class="fas fa-book"></i></a>
      {% endif %}
      {% if page.github %}
        <a href="{{ page.github }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
      {% endif %}
      {% if page.website %}
        <a href="{{ page.website }}" target="_blank" title="Website"><i class="fas fa-globe"></i></a>
      {% endif %}
    </div>
  </div>
</div>

<hr>

<div class="main-content" style="text-align: justify;">
<h2>Education</h2>
<ul>
  <li><strong>2002 &#8211; 2006:</strong> PhD in Astrophysics University of Rome Tor Vergata / INAF- Astronomical Observatory of Rome</li>
  <li><strong>1998 &#8211; 2002:</strong> Bachelor and Master in Physics University of Rome Tor Vergata</li>
</ul>

<h2>Research</h2>
<ul>
  <li><strong>2016 &#8211; present: CSIC Staff Scientist</strong>, Tenured research position at the 
  Spanish National Research Council (CSIC) within the Institute of Space Sciences (ICE) in Barcelona, Spain</li>
  <li><strong>2014 &#8211; 2018: Research Group Leader NWO Vidi Award</strong>, Anton Pannekoek Institute, 
  University of Amsterdam, The Netherlands</li>
  <li><strong>2009 &#8211; 2014: Ramon y Cajal position</strong>, Consejo Superior de Investigaciones 
    Cientificas and Institut D'Estudis Espacials de Catalunya, Barcelona, Spain</li>
  <li><strong>2007 &#8211; 2009: NWO Veni Award</strong> Anton Pannekoek Institute, University of 
  Amsterdam, The Netherlands</li>
  <li><strong>2006: Research Visiting Fellowship</strong>, University of Sydney, Australia</li>
  <li><strong>2005 &#8211; 2007: Postdoctoral Research Assistant</strong>, SRON Netherlands Institute 
  for Space Research Utrecht, The Netherlands</li>
  <li><strong>2004 &#8211; 2005: Marie Curie Training Fellowship</strong>, SRON 
  Netherlands Institute for Space Research Utrecht, The Netherlands</li>
</ul>

<h2>Supervising students / post-doctoral researchers</h2>
<ul>
  <li><strong>2020 &#8211; present:</strong> Supervision of the Post-doctoral researcher 
  <a href="{{ '/members/rajath_sathyaprakash/' | relative_url }}">Dr. Rajath Sathyaprakash</a> (ICE-CSIC, IEEC, Barcelona)</li>
  <li><strong>2020 &#8211; present:</strong> Supervision of the Post-doctoral researcher 
  <a href="{{ '/members/stefano_ascenzi/' | relative_url }}">Dr. Stefano Ascenzi</a> (ICE-CSIC, IEEC, Barcelona)</li>
  <li><strong>2020 &#8211; present:</strong> Supervision of the PhD student 
  <a href="{{ '/members/abubakr_ibrahim/' | relative_url }}">Abubakr Ibrahim</a> (ICE-CSIC, IEEC, Barcelona)</li>
  <li><strong>2020 &#8211; present:</strong> Supervision of the Senior Post-doctoral researcher 
  <a href="{{ '/members/vanessa_graber/' | relative_url }}">Dr. Vanessa Graber</a> (ICE-CSIC, IEEC, Barcelona)</li>
  <li><strong>2019 &#8211; present:</strong> Supervision of the Senior Post-doctoral researcher 
  <a href="{{ '/members/daniele_vigano/' | relative_url }}">Dr. Daniele Viganò</a> (ICE-CSIC, IEEC, Barcelona)</li>
  <li><strong>2019 &#8211; 2020:</strong> Supervision of the Post-doctoral researcher 
  <a href="{{ '/members/albert_garcia_garcia/' | relative_url }}">Dr. Albert García García</a> (ICE-CSIC, IEEC, Barcelona)</li>
  <li><strong>2019 &#8211; present:</strong> Supervision of the Post-doctoral researcher 
  <a href="{{ '/members/alice_borghese/' | relative_url }}">Dr. Alice Borghese</a> (ICE-CSIC, IEEC, Barcelona)</li>
  <li><strong>2019 &#8211; present:</strong> Supervision of the PhD student 
  <a href="{{ '/members/michele_ronchi/' | relative_url }}">Michele Ronchi</a> (ICE-CSIC, IEEC, Barcelona)</li>
  <li><strong>2019 &#8211; present:</strong> Supervision of the PhD student 
  <a href="{{ '/members/clara_dehman/' | relative_url }}">Clara Dehman</a> (ICE-CSIC, IEEC, Barcelona)</li>
  <li><strong>2017 &#8211; present:</strong> Supervision of the Post-doctoral researcher 
  <a href="{{ '/members/francesco_coti_zelati/' | relative_url }}">Dr. Francesco Coti Zelati</a> (ICE-CSIC, IEEC, Barcelona)</li>
  <li><strong>2016 &#8211; 2018:</strong> Supervision of the Senior Post-doctoral researcher Dr. Paolo Esposito (University of Amsterdam)</li>
  <li><strong>2015 &#8211; 2018:</strong> Supervision of the Master student Stefanos Tsiopelas (University of Amsterdam)</li>
  <li><strong>2014 &#8211; 2017:</strong> Supervision of the Post-doctoral researcher Dr. Justin Elfritz (University of Amsterdam)</li>
  <li><strong>2014 &#8211; 2018:</strong> Supervision of the PhD thesis of Mrs. Alice Borghese (University of Amsterdam)</li>
  <li><strong>2014 &#8211; 2017:</strong> Co-supervision of the PhD thesis of Mr. Francesco Coti Zelati (Università dell'Insubria/INAF-OAB/University of Amsterdam)</li>
  <li><strong>2013 &#8211; 2014:</strong> Co-supervision of the Post-doctoral researcher Dr. Daniele Viganò (ICE-CSIC, IEEC)</li>
  <li><strong>2010 &#8211; 2014:</strong> Co-supervision of the PhD thesis of Mr. Jonatan Martin Rodriguez (ICE-CSIC, IEEC; Universitat Autonoma de Barcelona)</li>
  <li><strong>Summer 2014:</strong> Co-supervision of the Master thesis of Alice Borghese (University of Padua)</li>
  <li><strong>2012 &#8211; 2013:</strong> Co-supervision of the Master thesis of the Erasmus student Giacomo Terreran (University of Padua)</li>
  <li><strong>2011 &#8211; 2013:</strong> Supervision of the Post-doctoral researcher Dr. Ascension Camero-Arranz (ICE-CSIC, IEEC)</li>
  <li><strong>Summer 2011:</strong> Supervision of the high school student Miguel Otero for its summer-research experience</li>
  <li><strong>2010 &#8211; 2011:</strong> Supervision of the Master thesis of Ms. Angela Talarn Zaragoza (ICE-CSIC, IEEC; Universitat Autonoma de Barcelona)</li>
  <li><strong>Spring 2008:</strong> Co-supervision of the PhD thesis of Mr. Federico Bernardini 
  (University of Rome "Tor Vergata"/INAF-OAR) in a joint project between the University of Amsterdam and Astronomical Observatory of Rome</li>
  <li><strong>Spring 2005:</strong> Co-supervision of the Master thesis of Ms. Elisa Nichelli in a 
  joint project between SRON Netherlands Institute of Research and Astronomical Observatory of Rome</li>
</ul>

<h2>Awards</h2>
<ul>
  <li><strong>2020: Banco Sabadell Award for Science and Engineering</strong> &#8211; Fundacion Banco Sabadell</li>
  <li><strong>2019: Young Female Scientist Award</strong> &#8211; Real Academia de Ciencias de España y Mastercard</li>
  <li><strong>2018: ERC Consolidator Grant</strong> &#8211; European Research Council</li>
  <li><strong>2017: National Catalan Award for Young Researchers</strong> &#8211; Catalan Government</li>
  <li><strong>2015: Young Scientist IUPAP Prize for Astrophysics for 2014</strong> &#8211; International Union of Pure and Applied Physics</li>
  <li><strong>2014: Zeldovich Medal</strong> &#8211; COSPAR and Russian Academy of Science, for valuable contribution in Astrophysics and Space Science research</li>
  <li><strong>2014: Programa I3 Award</strong> &#8211; granted by the Ministry of Education in Spain</li>
  <li><strong>2013: NWO Vidi Award</strong> &#8211; Netherlands Organization for Scientific Research</li>
  <li><strong>2007: NWO Veni Award</strong> &#8211; Netherlands Organization for Scientific Research</li>
</ul>

<h2>International collaborations</h2>
<ul>
  <li><strong>Athena &#8211; ESA Science Study Team</strong><br>
  The Athena+ X-ray satellite has been recently proposed as a Large mission for the ESA 2028 launch 
  schedule. I am part of the ESA Science Study Team of the Athena mission.<br>
  <a href="https://www.the-athena-x-ray-observatory.eu">https://www.the-athena-x-ray-observatory.eu</a></li>
  <li><strong>ESA Astronomy Working Group 2018 &#8211; 2020</strong><br>
  The Astronomy Working Group (AWG) provides scientific advice mainly to the Space Science Advisory 
  Committee (SSAC). The AWG members are scientists from the ESA Member States with expertise in the 
  specific disciplines covered by the AWG.<br>
  <a href="https://www.cosmos.esa.int/web/awg">https://www.cosmos.esa.int/web/awg</a></li>
  <li><strong>PHAROS Action Chair 2017 &#8211; 2021</strong><br>
  PHAROS is an action funded by the European Cooperation in Science and Technology (COST), aimed at 
  studying Neutron Stars from different physical perspectives.<br>
  <a href="http://www.cost.eu/COST_Actions/ca/CA16214">http://www.cost.eu/COST_Actions/ca/CA16214</a></li>
  <li><strong>Square Kilometer Array collaboration since 2017</strong><br>
  Part of the Working Groups on Transients and Pulsars.<br>
  <a href="http://www.atnf.csiro.au/SKA/">http://www.atnf.csiro.au/SKA/</a></li>
  <li><strong>ESA XMM-Newton User Group since 2015</strong><br>
  The XMM-Newton Users' Group advises ESA on all matters relating to the optimisation of the scientific 
  output of the XMM-Newton mission.<br>
  <a href="http://xmm.esac.esa.int/external/xmm_user_support/usersgroup/members/index.shtml/">http://xmm.esac.esa.int/external/xmm_user_support/usersgroup/members/index.shtml/</a></li>
  <li><strong>GranTeCan Users Committee 2012 &#8211; 2014</strong><br>
  The GTC Users Committee (GUC) is an advisory body to the GTC Director.<br>
  <a href="http://www.gtc.iac.es/en/pages/gtc/gtc-users-committee-guc.php">http://www.gtc.iac.es/en/pages/gtc/gtc-users-committee-guc.php</a></li>
  <li><strong>eXTP collaboration since 2011</strong><br>
  The enhanced X-ray Timing and Polarimetry mission is a Chinese/ESA mission in Phase B.<br>
  <a href="http://gri.rm.iasf.cnr.it/LOFToutreach/en.html">http://gri.rm.iasf.cnr.it/LOFToutreach/en.html</a></li>
  <li><strong>Fermi-LAT collaboration since 2008</strong><br>
  Affiliated scientist of the NASA Fermi Large Area Gamma-ray Telescope collaboration (Fermi-LAT).<br>
  <a href="http://fermi.gsfc.nasa.gov/">http://fermi.gsfc.nasa.gov/</a></li>
</ul>

<h2>Best 6 refereed publications</h2>
<ul>
  <li>Rea, N., Borghese A., Esposito P., et al. 2016, ApJ Letters 820, L13: 
  <em>Magnetar-like activity from the Central Compact Object in the Supernova Remnant RCW103</em> (NASA Press Release on September 6, 2016)</li>
  <li>Rea N., Esposito P., Pons, J. A.. et al. 2013, ApJ Letters 775, L34: 
  <em>A strongly magnetized pulsar within the grasp of the Milky Way's supermassive black hole</em> (CSIC Press Release on November 4, 2013)</li>
  <li>Pons J. A., Vigano, D. & Rea N., 2013, Nature Physics 9, 431: 
  <em>A highly resistive layer within the crust of X-ray pulsars limits their spin periods</em> (CSIC Press Release on June 10, 2013)</li>
  <li>Rea N., Pons J. A., Torres D. F., & Turolla R. 2012, ApJ Letters 748, L12: 
  <em>Fundamental plane for radio magnetars</em> (Editors' Choice article in Science on March 16, 2012)</li>
  <li>Rea N., Esposito P., Turolla R. et al. 2010, Science 330, 944:
  <em>A low-magnetic field Soft Gamma Repeater</em> (ESA and NASA Press Releases on October 10, 2010)</li>
  <li>Rea N., Zane S., Turolla R., Lyutikov M. & Gotz D. 2008, ApJ 686, 1245: 
  <em>Resonant cyclotron scattering in magnetars' emission</em> (ESA Press Release on November 14, 2008)</li>
</ul>

<h2>Teaching experience</h2>
<ul>
  <li><strong>Spring 2020:</strong> classes for the for the Master in Astrophysics, Universitat Autonoma de Barcelona</li>
  <li><strong>Winter 2019:</strong> for the IPARCOS PhD School, Universidad Complutense de Madrid</li>
  <li><strong>Spring 2019:</strong> classes for the for the Master in Astrophysics, Universitat Autonoma de Barcelona</li>
  <li><strong>Spring 2018:</strong> classes for the Institute of Space Sciences PhD School, ICE-CSIC, IEEC, Barcelona</li>
  <li><strong>Spring 2017:</strong> classes for the Institute of Space Sciences PhD School, ICE-CSIC, IEEC, Barcelona</li>
  <li><strong>Spring 2016:</strong> classes for the Master in Astrophysics, Universitat Autonoma de Barcelona</li>
  <li><strong>Spring 2015:</strong> classes for the Master in Astrophysics, Universitat Autonoma de Barcelona</li>
  <li><strong>Autumun 2014:</strong> classes at the University of Amsterdam (course: Open problems in Astrophysics)</li>
  <li><strong>Spring 2013:</strong> classes for the Master in Photografic Techniques, Universitat Politecnica de Calalunya</li>
  <li><strong>Spring 2012:</strong> classes for the Master in Astrophysics, Universitat Autonoma de Barcelona</li>
  <li><strong>Spring 2011:</strong> classes for the Master in Astrophysics, Universitat Autonoma de Barcelona</li>
  <li><strong>Spring 2010:</strong> classes for the Master in Astrophysics, Universitat Autonoma de Barcelona</li>
  <li><strong>Autumun 2008:</strong> Bachelor course: Astrophysics (Assistant), University of Amsterdam</li>
  <li><strong>Spring 2003:</strong> Assistant for Physics Laboratory 2, University of Rome "Tor Vergata"</li>
  <li><strong>Spring 2002:</strong> Assistant for Physics Laboratory 1, University of Rome "Tor Vergata"</li>
</ul>

</div>