---
layout: single
title: "Viktor Dimovski"
position: "Erasmus+ Trainee"
status: "current"
image: /assets/images/people/viktor.jpg
permalink: /members/viktor_dimovski/
hide_prev_next: true

orcid:
linkedin:
ads:
github:
website:
---

<div class="member-profile">
  <div class="member-photo">
    <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
  </div>

  <div class="member-info">
    <p><i class="fas fa-user"></i> {{ page.position }}</p>

    <div class="member-links">
      {% if page.orcid %}
        <a href="{{ page.orcid }}" target="_blank" title="ORCID"><i class="fab fa-orcid"></i></a>
      {% endif %}
      {% if page.ads %}
        <a href="{{ page.ads }}" target="_blank" title="NASA ADS"><i class="fas fa-book"></i></a>
      {% endif %}
      {% if page.github %}
        <a href="{{ page.github }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
      {% endif %}
      {% if page.website %}
        <a href="{{ page.website }}" target="_blank" title="Website"><i class="fas fa-globe"></i></a>
      {% endif %}
    </div>
  </div>
</div>

<hr>

<div class="main-content" style="text-align: justify;">
<h2>Education</h2>
<ul>
  <li><strong>January 2026 &#8211; present:</strong> Erasmus+ Traineeship for recent graduates, 
    Institute of Space Sciences (ICE-CSIC), Barcelona, Spain <br>
  Study of strongly magnetized compact objects with space-based missions in the time and spectral domain, 
  and comparison with electromagnetic emission models.<br>
  Supervisors: Dr. Matteo Imbrogno, Prof. Nanda Rea.</li>
  <li><strong>2023 &#8211; 2025:</strong> Master's Degree in Astrophysics and Cosmology, Universita di Padova (Italy)<br>
  Thesis: <em>Effects of Partial Ionization in Magnetized Neutron Star Atmospheres</em><br>
  Supervisors: Dr. Roberto Turolla, Dr. Roberto Taverna</li>
  <li><strong>2019 &#8211; 2023:</strong> Bachelor's Degree in Astronomy and Astrophysics, Ss. Cyril
     and Methodius University in Skopje (North Macedonia)<br>
  Thesis: <em>Modelling the Structure of White Dwarves and Neutron Stars</em><br>
  Supervisor: Prof. Dr. Nace Stojanov</li>
</ul>

<h2>Awards</h2>
<ul>
  <li>Best graduated student of the Institute of Physics at Ss. Cyril and Methodius University in Skopje in the academic year 2022/2023</li>
</ul>

</div>
